<launch>
  <arg name="repo_root" default="/tiangong_infra_ws/ws/src/tg2_dexman_isaac"/>
  <arg name="cfg_path" default="/tiangong_infra_ws/ws/src/tg2_dexman_isaac/dextrah_lab/tasks/dextrah_kuka_allegro/agents/rl_games_ppo_stereo_transformer.yaml"/>
  <arg name="checkpoint_path" default=""/>
  <arg name="device" default="cuda"/>

  <arg name="left_topic" default="/stereo/left/image_raw"/>
  <arg name="right_topic" default="/stereo/right/image_raw"/>
  <arg name="proprio_topic" default="/policy/proprio"/>
  <arg name="action_topic" default="/policy/action"/>
  <arg name="joint_command_topic" default="/arm/command_joint_states"/>

  <arg name="num_proprio_obs" default="159"/>
  <arg name="num_actions" default="11"/>
  <arg name="image_width" default="320"/>
  <arg name="image_height" default="240"/>
  <arg name="deterministic" default="true"/>
  <arg name="rate" default="20.0"/>
  <arg name="action_scale" default="1.0"/>
  <arg name="publish_joint_state" default="true"/>

  <node
    pkg="policy_inference_stereo_transformer"
    type="policy_inference_stereo_transformer_node.py"
    name="policy_inference_stereo_transformer"
    output="screen">

    <param name="repo_root" value="$(arg repo_root)"/>
    <param name="cfg_path" value="$(arg cfg_path)"/>
    <param name="checkpoint_path" value="$(arg checkpoint_path)"/>
    <param name="device" value="$(arg device)"/>

    <param name="left_topic" value="$(arg left_topic)"/>
    <param name="right_topic" value="$(arg right_topic)"/>
    <param name="proprio_topic" value="$(arg proprio_topic)"/>
    <param name="action_topic" value="$(arg action_topic)"/>
    <param name="joint_command_topic" value="$(arg joint_command_topic)"/>

    <param name="num_proprio_obs" value="$(arg num_proprio_obs)"/>
    <param name="num_actions" value="$(arg num_actions)"/>
    <param name="image_width" value="$(arg image_width)"/>
    <param name="image_height" value="$(arg image_height)"/>
    <param name="deterministic" value="$(arg deterministic)"/>
    <param name="rate" value="$(arg rate)"/>
    <param name="action_scale" value="$(arg action_scale)"/>
    <param name="publish_joint_state" value="$(arg publish_joint_state)"/>
    <rosparam param="joint_action_indices">[0, 1, 2, 3, 4, 5, 6]</rosparam>

    <rosparam param="joint_names">
      [
        shoulder_pitch_r_joint,
        shoulder_roll_r_joint,
        shoulder_yaw_r_joint,
        elbow_pitch_r_joint,
        elbow_yaw_r_joint,
        wrist_pitch_r_joint,
        wrist_roll_r_joint
      ]
    </rosparam>
  </node>
</launch>
