*egg-info
__pycache__
*.pyc
*.swp
logs
*.npy
.thumbs/

runs/
# pretrained_ckpts/
wandb/
outputs/
background_imgs/
dome_light_textures/
object_textures/
table_textures/
curated_table_textures/
eval_results/
tg2_lab/assets/*
!tg2_lab/assets/kuka_inspirehand/
!tg2_lab/assets/kuka_inspirehand/**
!tg2_lab/assets/kuka_inspirehand_modified/
!tg2_lab/assets/kuka_inspirehand_modified/**
!tg2_lab/assets/tg2_inspirehand/
!tg2_lab/assets/tg2_inspirehand/**
!tg2_lab/assets/tiangong2pro/
!tg2_lab/assets/tiangong2pro/**
tg2_lab/assets/tiangong2pro/**/__pycache__/
tg2_lab/assets/tiangong2pro/**/*.pyc
reference/
# tg2_lab/stored_policies/
build/
devel/
.catkin_workspace
teacher_eval
offline_replay_logs
student_replay_logs
temp
traj_env_*
teacher_replay_results.yaml
.codex

build/
install/
log/
visdex_objects/
