*egg-info
__pycache__
*.swp
logs
*.npy
.thumbs/

runs/
pretrained_ckpts/
wandb/
outputs/
background_imgs/
dome_light_textures/
object_textures/
table_textures/
curated_table_textures/
eval_results/
dextrah_lab/assets/*
!dextrah_lab/assets/kuka_inspirehand/
!dextrah_lab/assets/kuka_inspirehand/**
!dextrah_lab/assets/kuka_inspirehand_modified/
!dextrah_lab/assets/kuka_inspirehand_modified/**
!dextrah_lab/assets/tg2_inspirehand/
!dextrah_lab/assets/tg2_inspirehand/**
reference/
dextrah_lab/stored_policies/
